# The directory Mix will write generated .beam files to.
/_build/

# Dependencies.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
ecto_oracle-*.tar

# Temporary files, for example, from tests.
/tmp/

# Oracle database volume data from docker-compose.
/oracle-data/
